//imports 

@import "var";

body {
    background-color: $body-background;
}

.title-Div {
    margin: 4rem auto;
    width: fit-content;

    h1 {
        color:$title-color;
    }
}

.nav {
    //@include: 2px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    height: fit-content;

    #announcements {
            width: fit-content;
            font-size: 2.5rem;
            font-weight: bold;
            padding: 0;
            margin: 0;
            color: $APText;
        }

    #active-player {
        //border: 2px solid black;
        text-align: center;
        color: $APText;
    }

}


.gridcontainer {
    border: 2px solid $cell-background;
    height: 30vw;
    width:  30vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
    //column-gap: 0.5rem;
    //row-gap: 0.5rem;
    background-color: $container-background;
    justify-content: center;

    .cell {
        border: 1px solid $cell-text;
        background-color: $cell-background;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
    }
};


.buttonDiv {
    //border: solid 2px black;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 2rem auto;

    button { 
        border-radius: 0.25rem;
        box-shadow: 3px;
        font-size: 2rem;
        transition: 0.4s;
    }

    button:hover{
        background-color: rgb(10, 10, 10);
        color: $white;
    }
    

};

